<div class="custom-container py-2">
    <div class="row g-1">
        <div class="col-12 col-md-6">
            <input class="form-control form-control-lg rounded-1" type="text"
            placeholder="User Name" aria-label="Name" [(ngModel)]="name">
        </div>

        <div class="col-12 col-md-6">
            <select name="gender" class="form-select form-select-lg rounded-1" [(ngModel)]="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>   
        </div>
        
        <div class="col-12 col-md-6">
            <select name="subscriptionType" class="form-select form-select-lg rounded-1" [(ngModel)]="subType">
                <option *ngFor="let option of subTypes" [value]="option">{{ option }}</option>
            </select>
        </div>
        
        
        <div class="col-12 col-md-6">
            <select name="active" class="form-select form-select-lg rounded-1" [(ngModel)]="status">
                <option *ngFor="let option of statuses" [value]="option">{{ option }}</option>
            </select>
        </div>
        
        
        <div class="col-12 mt-2">
            <button (click)="CreateNewUser()" class="add-user btn btn-lg rounded-1 fw-bold">Creat</button>
        </div>
    </div>
    
 </div>