<header class="bg-body-tertiary py-1 shadow-sm mb-gap">
    <div class="container">
  
      <nav class="navbar navbar-expand-lg justify-content-between">
  
          <a class="navbar-brand" routerLink="">MYSITE</a>
  
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="mainNavbar">
  
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="btn btn-lg" routerLink="/Home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                Home</a>
              </li>
  
              <li class="nav-item">
                <a class="btn btn-lg" routerLink="/Admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                Admin</a>
              </li>
  
              <li class="nav-item">
                <button type="button" class="btn btn-lg subscribe-button px-5"
                (click)="registerSubscribtion()">Subscribe</button>
              </li>
            </ul>
  
          </div>
  
      </nav>
  
    </div>
  </header>